.main-header {
  background-color: #2f27ce;
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.main-title {
  font-size: 2.5rem;
}

.navigation-elements {
  padding-top: 24px;
  display: flex;
  gap: 24px;
}

.navigation-element {
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}
