*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family:
    "Roboto Variable", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
