*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family:
    "Roboto Variable", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.main-container {
  margin: auto;
  max-width: 2000px;
}
